/* Outside Font Imports */
@font-face{
    font-family: patrickHand;
    src:url(PatrickHand-Regular.woff2) format('woff2'),
        url(PatrickHand-Regular.woff) format('woff'),
        url(PatrickHand-Regular.ttf) format('truetype');
}
@font-face{
            font-family: LuckiestGuy;
            src:url(LuckiestGuy-Regular.woff2) format('woff2'),
                url(LuckiestGuy-Regular.woff) format('woff'),
                url(LuckiestGuy-Regular.ttf) format('truetype');
}
/** Main Styles */
body{
    box-shadow: black 10px 5px 20px, -10px -5px 20px;
}
/* text styles */
p, a{
    font-family: 'Patrick Hand', serif;
}
/* header styles */
h1{
    font-family: 'Patrick Hand', serif;
    padding-left: 25px;
    padding-top: 25px;
}
h2{
    font-family: 'Patrick Hand', serif;
}
div#header{
    border-style: solid;
    border-color: #284B63;
    border-width: 0px 0px 2px 0px;
    padding-bottom: 5px;
}
div#main{
    padding-top: 15px;
}
/* background styles */
div#ul1, div#ul2{
    background: #E7D8C9;
    color: #284B63;
    width: 300px;
    border-style: double;
    border-width: 10px;
    border-color: #284B63; 
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: auto;
    padding-top: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
img, h1 a{
    display: block;
}
/* link text styles */
a:hover{
    color: #E8AEB7;
}
a{
    color: #47363D;
}
/* footer styles */

div#footer{
    font-family: 'patrickHand', serif;
    text-align: center;
    border-width: 10px 0px 0px 0px;
    border-color: #284B63;
    border-style: double;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #E7D8C9;
    width: 100%;
}

/* list styles */
li a{
    text-decoration: none; 
}
li{
list-style: none;
}