/** Grid layout Styles */
@font-face{
    font-family: patrickHand;
    src:url(PatrickHand-Regular.woff2) format('woff2'),
        url(PatrickHand-Regular.woff) format('woff'),
        url(PatrickHand-Regular.ttf) format('truetype');
}
@font-face{
            font-family: LuckiestGuy;
            src:url(LuckiestGuy-Regular.woff2) format('woff2'),
                url(LuckiestGuy-Regular.woff) format('woff'),
                url(LuckiestGuy-Regular.ttf) format('truetype');
}
div.row::after{
    clear: both;
    content: "";
    display: table;
}
div[class^="col-"]{
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/** Grid sizes */
div.col-1-1{width: 100%;}
div.col-1-3{width: 33%;}
div.col-3-4{width: 75%;}
div.col-1-4{width: 25%;}