/* general stuff */
html{
    background-color: #A0CED9
}

body{
    background-color: #FCF5C7
}
h1{
    font-family: 'Luckiest Guy'
}
p{
    font-family: 'Patrick Hand';
    font-size: 1em 
}

img{
    width: 300px;
    height: 450px;
}

/* Popular Quizes/Center Column */
li a{
    text-decoration: none;
    
}
li{
list-style: none;
}
/* Recent Quizes/ Right Column*/