/* general stuff */
h1{
    font-family: 'Luckiest Guy'
}
p{
    font-family: 'Patrick Hand';
    font-size: 1em 
}
/* Logo/Name of site */


/* Nav */

/* Advertisment/left Column */
img{
    width: 300px;
    height: 450px;
}
/* Popular Quizes/Center Column */



/* Recent Quizes/ Right Column*/